= content_for :title do
  = "#{@user.name}のコメント"
.right_column
  .content
    = render 'shared/user_info', :user => @user
    =# .content_header 必要なときだけ使う
    %section#posts_sec
      %h1= "#{@user.name}のコメント"
      #post_box
        = render 'posts', :posts => @posts
